body {
    background-color: rgb(204, 203, 203);
    align-items: center;
}

#pai {
    display: flex;
    gap: 15px;
    padding-left: 0%;
    padding-right: 0%;
    padding: 10px;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;

}

.Cabeçalho {
    background-color: rgb(2, 172, 2);
    padding: 7px;
    width: 100%;
    text-align: center;
}

.Menu {
    text-align: left;
    background-color: orange;
    padding: 10px;
    width: 30%;
    height: 200px;
    padding: 10px;
    margin-left: 0%;
}

.filho {
    background-color: blue;
    padding: 10px;
    height: 200px;
    width: 70%;
    padding: 10px;
    margin-right: 0%;
}

.neto {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
    line-height: 50px;
}

.Resumo {
    background-color: rgb(255, 0, 225);
    width: 30%;
    height: 50px;
    text-align: center;
    border-radius: 8px;
}

.Cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    line-height: 50px;
    justify-content: space-between;

}

.card {
    background-color: rgba(89, 128, 0, 0.644);
    color: whitesmoke;
    width: 15%;
    height: 50px;
    margin: 20px;
    margin-top: 0%;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.Baixo {
    background-color: gray;
    padding: 7px;
    text-align: center;
    margin: 5px;
}